body {
    background-color: rgb(241,241,241);
}

#bootstrap-overrides .contactModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 9999;
    border: 1px solid darkgrey;
    border-radius: 6px;
    background: #fff;
    padding: 10px;
}

#bootstrap-overrides .contactModalBackdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
}

#bootstrap-overrides .panelCustom {
    width: 400px;
    margin: 25px auto 25px auto;
}

#bootstrap-overrides .contactTitle {
    text-align: center;
    font-size: 200%;
    margin-bottom: 5px;
    margin-top: 5px;
}

#bootstrap-overrides .phoneNumbersTitle {
    text-align: center;
    font-size: 140%;
    margin-bottom: 5px;
    margin-top: 5px;
}

#bootstrap-overrides .contactTd {
    width: 100%;
    position: relative;
}

#bootstrap-overrides .contactButtonEdit {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

#bootstrap-overrides .menuButtonSetAsDefault {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 147px;
}

#bootstrap-overrides .menuButtonEdit {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 80px;
}

#bootstrap-overrides .menuButtonDelete {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

#bootstrap-overrides .contactRow:hover .contactButtonEdit {
    visibility: visible;
}

#bootstrap-overrides .contactRow:hover .menuButtonSetAsDefault {
    visibility: visible;
}


#bootstrap-overrides .contactRow:hover .menuButtonEdit {
    visibility: visible;
}

#bootstrap-overrides .contactRow:hover .menuButtonDelete {
    visibility: visible;
}

#bootstrap-overrides .displayNone {
    display: none;
}

#bootstrap-overrides .buttonWidth33 {
    width: 33%;
}

#bootstrap-overrides .addNewPhoneNumberButton {
    width: 98%;
    margin: 0 1% 4px 1%;
}

#bootstrap-overrides .form-control {
    margin-bottom: 4px;
}
